<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- indicates that the server.js file is a node.js application
        to be handled by the iisnode module -->

        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="sendToNode">
                    <match url="/*" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe" promoteServerVars="AUTH_USER,SERVER_NAME,HTTP_UID,LOGON_USER" />
    </system.webServer>
</configuration>
