<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body class="container">
    <header></header>

    <main>
      <div class="jumbotron">
        <h4>Logon user - <%= logon_user %> </h4>
        <h4>Logon user - <%= AUTH_USER %> </h4>
        <h4>Logon user - <%= SERVER_NAME %> </h4>
      </div>
    </main>
  </body>
</html>
